################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Final-project/Shipping.repo/obj/Debug/net9.0/Shipping.repo.AssemblyInfoInputs.cache
/Final-project/Shipping.core/obj/Debug/net9.0/Shipping.core.AssemblyInfoInputs.cache
/Final-project/Shipping.core/obj/Debug/net9.0/Shipping.core.AssemblyInfo.cs
/Final-project/Shipping.repo/obj/Debug/net9.0/Shipping.repo.AssemblyInfo.cs
*.vsidx
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/CodeChunks.db
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/Final-project/Shipping/obj/Debug/net9.0/Shipping.AssemblyInfo.cs
/Final-project/Shipping/obj/Debug/net9.0/Shipping.AssemblyInfoInputs.cache
/Final-project/Shipping/obj/Debug/net9.0/Shipping.csproj.AssemblyReference.cache
/Final-project/DTOs/obj/DTOs.csproj.nuget.g.targets
/Final-project/DTOs/obj/DTOs.csproj.nuget.g.props
/Final-project/DTOs/obj/DTOs.csproj.nuget.dgspec.json
/Final-project/DTOs/obj/DTOs.csproj.nuget.g.props
/Final-project/DTOs/obj/DTOs.csproj.nuget.g.targets
/Final-project/DTOs/obj/project.assets.json
/Final-project/DTOs/obj/project.nuget.cache
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/CodeChunks.db
/Final-project/Shipping/.vs/Shipping/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/Final-project/Shipping/.vs/Shipping/v17/.suo
/Final-project/Shipping.core/obj/Debug/net9.0/Shipping.core.AssemblyInfo.cs
/Final-project/Shipping.core/obj/Debug/net9.0/Shipping.core.AssemblyInfoInputs.cache
/Final-project/Shipping.repo/obj/Debug/net9.0/Shipping.repo.AssemblyInfo.cs
/Final-project/Shipping.repo/obj/Debug/net9.0/Shipping.repo.AssemblyInfoInputs.cache
/Final-project/Shipping.repo/obj/Debug/net9.0/Shipping.repo.csproj.AssemblyReference.cache
/Final-project/Shipping.services/obj/Debug/net9.0/Shipping.services.AssemblyInfo.cs
/Final-project/Shipping.services/obj/Debug/net9.0/Shipping.services.AssemblyInfoInputs.cache
